body{
    background:lime;
}
div{
    border:1px solid black;
}
.swNamesTD{
    color:yellow;
}
.swDataTD{
    color:blue;
}
.swNamesTD:hover{
    color:orange;
    font-weight:bold;
    cursor:pointer;
    font-size:20px;
    transition:all 0.3s;
}