@font-face {
    font-family: myFirstFont;
    src: url(Starjedi.ttf);
}
body{
    background-size:100%;
    font-family: myFirstFont;
    padding:100px;
}
/*div{
    border:1px solid white;
}*/
.swNamesTD{
    color:yellow;
}
.swDataTD{
    color:yellow;
}
.swNamesTD:hover{
    color:orange;
    font-weight:bold;
    cursor:pointer;
    font-size:20px;
    transition:all 0.3s;
}
.container div{
    display:inline-block;
}
.charview{
    top:100px;
    float:right;
}
